@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

.btn{
    width:168px; 
    height:Hug(44px); 
    border-radius:5px; 
    padding:10px;
    gap:10px; 
    color:#FFFFFF"
}